@font-face{
  src:url(LotTracker/fonts/LuloCleanOneBold.otf);
  font-family:LuloCleanOneBold;
}
@font-face{
  src:url(fonts/AlexBrush-Regular.ttf);
  font-family:AlexBrush-Regular;
}

@font-face{
  src:url(LotTracker/fonts/Museo_Slab_100.otf);
  font-family:Museo_Slab_100;
}
#googleMap {
    width: 100%;
    height: 700px;
    background-color: grey;
    margin-bottom: 40px;
  }

  .container-fluid{
    background:white;
    color:black;

  }

 .large_button{
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;

    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    vertical-align: top;
    background:white;
    height: 60px;
    border: 2px solid #00AA66;
    width: 150px;
    margin-bottom:20px;
 }
  .state_option {
    font-size:20px;

    color: #136E33;
    display:block;
  }



  .header_pic{
    padding:20px;
    padding-left: 75px;
  }

  .heading#tiktok {
    color: #136E33;
    font-family:LuloCleanOneBold;
  }
  .subheading {
    font-family:Museo_Slab_100;
  }


  #farm_bio{

    font-size:18px;
  }
  .input-box {
    height: 60px;
    width: 400px;
    font-size: 28px;
    vertical-align: middle;
  }

  .input-button{
    height: 60px;
    width: 150px;
    font-size: 16px;
    vertical-align: middle;
  }

  .dummy-div{
    padding-bottom:69px;
  }

  #picture{
    height: 300px;
    width:100%;
    padding-bottom: 10px;
  }

.dropdown{
  overflow:hidden;
   width:250px;
   height:60px;
   font-size:24px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
   margin-bottom:15px;
}

/*Accordian*/
.accordion {
  width: 400px;
  background-color: #EDEDED;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
}
.accordion .accordion-head {
  color: #fff;
  background-color: #136E33;
  border-bottom: 1px solid #fff;
  position: relative;
  padding: 13px;
  font-size: 0.87em;
  cursor: pointer;
}
.accordion .accordion-head * {
  cursor: pointer;
}
.accordion .accordion-head:hover {
  filter: alpha(opacity=80);
  opacity: 0.80;
}
.accordion .accordion-body {
  border-bottom: 1px solid #fff;
  padding: 20px;
  height: auto;
  display: none;
}

#farm_image_form{
  margin-bottom:25px;
}

label{
  font-size:20px;
}


.select-state {
  width: 600px;
  height: 50px;
  -webkit-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  background-color: white;
  opacity:100%;
  padding:15px;
  }
  select option { padding-left:10px; }

  .farm_class{
    overflow:auto;
    height:300px;

    padding-left:15px;
  }

  .farm_results{
    display: none;

  }
