<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script type="text/javascript" src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9uU0VHvx8uFym5s_AryoVrC1ih6BDIC8&sensor=false"></script>
  <script type="text/javascript" src="/js/farmResult.js"></script>
  <title id="title"></title>

</head>
<body>
        <a href="http://www.sealtheseasons.com"><img class="header_pic" src="/img/logo.png"></a> 

        <!--top nav bar-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">Track Your Product</a>
                </div>
                <ul class="nav navbar-nav">
                <li><a href="/views/searchByLotCode.html">Search by Lot Code</a></li>
                <li><a href="/views/searchByProduct.html">Search by Product</a></li>
                <li><a href="/views/searchByState.html">Search by State</a></li>
                <li><a href="/views/customer.html">Subscribe</a></li>
                <li><a href="/views/admin.html">Admin Site</a></li>
                </ul>
            </div>
        </nav>
        
        <section class='container'>
            <div class="row">

                <!--left hand side of page-->
                <div class="col-md-6">
                        <!--name, picture and bio-->
                        <h1 class="heading" id="farm_name"></h1>
                        <div id="farm_picture">
                            <img id="picture" src="#" />
                        </div>
                        <h3 class="mini_title"> About the Farm</h3>
                        <div id="farm_bio"></div>

                </div>

                <!--right hand side of page-->
                <div class="col-md-6">
                    <!--for padding-->
                    <div class="dummy-div"></div>

                    <!--google map-->
                    <div style="padding-top:40px;" id="googleMap"></div>
                </div>
                    
                        
                    
            </div>
          
            
            
    
           
            
        </section>
        
</body>

</html>
